<app-my-group-button [shape]="'soft'" class="group" [customColor]="'#ff4d4f'">
  <app-my-button (click)="showMessage()" [ghost]="true">
    message
  </app-my-button>
  <app-my-button (click)="showMessage1()" [ghost]="true">
    message
  </app-my-button>
  <app-my-button (click)="showMessage2()" [ghost]="true">
    message
  </app-my-button>
  <app-my-button (click)="showMessage3()" [ghost]="true">
    message
  </app-my-button>
  <app-my-button (click)="showMessageLoading()" [ghost]="true">
    loading
  </app-my-button>
</app-my-group-button>
