<div>
  <app-content-block
    [title]="titleAndDescribe.title"
    [content]="titleAndDescribe.content"
  >
    <app-code-block
      code
      [code]="guardContent"
      [language]="'typescript'"
      [label]="false"
    >
    </app-code-block>
  </app-content-block>

  <!-- <app-code-block [code]="code2" [language]="'css'"></app-code-block>
  <app-code-block [code]="code3" [language]="'css'"></app-code-block>
  <app-code-block [code]="code4" [language]="'html'"></app-code-block> -->
</div>
