.content {
  margin-top: 40px;
  min-height: 40vh;
  height: 100%;

  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px 12px 48px;
      cursor: pointer;
      position: relative;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover,
      &.router-link-active {
        background: #cae9ff;
      }

      .d-flex {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      .icon {
        transition: transform 0.2s ease-in-out;

        &.rotated {
          transform: rotate(90deg);
        }
      }

      &.active {
        color: #1890ff;
        background-color: #c9eeff;

        &::after {
          transform: scaleY(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background: #1890ff;
        transform: scaleY(0);
        transition: transform 0.1s ease-in-out;
      }
    }

    @mixin nested-padding($level: 1, $base-padding: 64px, $increment: 16px) {
      li {
        padding-left: calc(#{$base-padding} + #{$increment} * ($level - 1));
      }

      .children {
        @if $level < 10 {
          @include nested-padding($level + 1, $base-padding, $increment);
        }
      }
    }

    .children {
      @include nested-padding();
    }
  }
}
