<div class="content">
  <ul>
    <ng-container
      *ngTemplateOutlet="menuTpl; context: { $implicit: MAIN_ROUTES }"
    ></ng-container>
    <ng-template #menuTpl let-menus>
      <ng-container *ngFor="let menu of menus">
        <li
          [ngClass]="{ active: menu.activated }"
          (click)="onNavItemClick(menu)"
        >
          <div class="d-flex flex-dir-row gap-16">
            <app-icon [icon]="menu.icon"></app-icon>
            <span>{{ menu.title }}</span>
          </div>
          <app-icon
            *ngIf="menu.children"
            class="icon"
            [ngClass]="menu.opened ? 'rotated' : ''"
            [icon]="'chevronRight'"
          ></app-icon>
        </li>
        <ul
          *ngIf="menu.children"
          [@expandCollapse]="menu.opened ? 'open' : 'closed'"
          class="children"
        >
          <ng-container
            *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"
          ></ng-container>
        </ul>
      </ng-container>
    </ng-template>
  </ul>
</div>
