.message-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;

  &.top,
  &.bottom {
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }

  &.top {
    top: 20px;
  }

  &.bottom {
    bottom: 20px;
  }

  &.top-right {
    top: 20px;
    right: 20px;
    align-items: flex-end;
  }

  &.top-left {
    top: 20px;
    left: 20px;
    align-items: flex-start;
  }

  &.bottom-right {
    bottom: 20px;
    right: 20px;
    align-items: flex-end;
  }

  &.bottom-left {
    bottom: 20px;
    left: 20px;
    align-items: flex-start;
  }
}
