header {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
}

.body {
  display: flex;

  .content {
    margin-left: 16%;
    width: 100%;
    padding: 20px;
    transition: 0.6s;
  }
}
