/* You can add global styles to this file, and also import other style files */
@import "highlight.js/styles/github-dark-dimmed.min.css";

html {
  font-family: Open Sans, sans-serif;
}

* {
  padding: 0;
  margin: 0;

  address,
  dl,
  ol,
  p,
  pre,
  ul {
    margin-bottom: 0;
  }

  box-sizing: border-box;
}

button,
input {
  line-height: normal;
  font-size: unset;
}

ul {
  li {
    list-style-type: none;
  }
}

.title_2 {
  font-size: xx-large;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
