.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 201;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  max-width: 70%;
  overflow-y: auto;
  max-height: 80vh;
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal-content.show {
  opacity: 1;
}

.modal-content {
  &.top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 0px 0px 4px 4px;
  }

  &.bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 4px 4px 0px 0px;
  }

  &.left {
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 0px 4px 4px 0px;
  }

  &.right {
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    border-radius: 4px 0px 0px 4px;
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &.top-left {
    top: 0;
    left: 0;
    transform: translate(-100%, 0%);
    border-radius: 0px 0px 4px 0px;
  }

  &.top-right {
    top: 0;
    right: 0;
    transform: translate(100%, 0%);
    border-radius: 0px 0px 0px 4px;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0%);
    border-radius: 0px 4px 0px 0px;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(100%, 0%);
    border-radius: 4px 0px 0px 0px;
  }
}

.modal-content.show {
  &.top,
  &.bottom {
    transform: translate(-50%, 0);
  }

  &.left,
  &.right {
    transform: translate(0, -50%);
  }

  &.center {
    transform: translate(-50%, -50%);
  }

  &.top-left,
  &.top-right,
  &.bottom-left,
  &.bottom-right {
    transform: translate(0, 0);
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
